:root {
  --background: #282828;
  --toolbar-row-size: 32px;
  --toolbar-stack-header-size: 10px;
  --primary-color: #535353;
  --secondary-color: #424242;
  --lighter-color: #565d65;
  --default-color: #e6e6e6;
  --default-border-color: #888888;
  --dark-border-color: #383838;
  --os-close: #ff5f57;
  --os-minimize: #ffbd2e;
  --os-fullscreen: #27c93f;
}
