.pf-drop-zone {
  position: absolute;
  box-sizing: border-box;
  z-index: 100;
  height: 100%;
  width: 100%;
  border: 3px solid transparent;
  opacity: 0;
  pointer-events: none;
}

.pf-drop-zone.pf-highlight {
  opacity: 1;
  border: 3px solid #6495ed;
}

.pf-insert-zone {
  align-self: stretch;
  box-sizing: border-box;
  background: #6495ed;
  min-height: 3px;
  min-width: 3px;
}

.pf-container-insert-spacer {
  align-self: stretch;
  min-height: 3px;
  min-width: 3px;
}
.pf-container-insert-spacer.pf-highlight {
  background: #6495ed;
}
