.pf-app {
  background: var(--pf-background);
  color: var(--pf-default-color);
  display: block;
  font-family: var(--pf-default-font);
  font-size: var(--pf-default-font-size);
  height: 100%;
  max-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  width: 100%;
}
.pf-vertical {
  display: flex;
  flex-direction: column;
}
.pf-horizontal {
  display: flex;
  flex-direction: row;
}
.pf-scene {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
}
.pf-window {
  display: flex;
  flex: 1;
  overflow: hidden;
}
.pf-view-group {
  position: relative;
  display: flex;
  flex: 1;
  overflow: hidden;
  min-height: 100px;
  min-width: 100px;
}

.pf-container {
  display: flex;
}

.pf-row {
  display: flex;
  flex-direction: row;
}
.pf-opaque {
  opacity: 1;
}
.pf-transparent {
  opacity: 0;
}
.pf-half-transparent {
  opacity: 0.5;
}
.pf-row.pf-full-width {
  align-items: stretch;
}
.pf-row.pf-full-height {
  flex: 1;
}
