.pf-toolbar {
  position: relative;
}

.pf-panel-host {
  min-width: 300px;
  background: var(--pf-primary-color);
}
.pf-stack-toolbars .pf-panel-host {
  position: absolute;
  top: -1px;
  right: 36px;
  box-shadow:
    rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.pf-stack-tabs .pf-toolbar {
  padding-top: 0px;
}
.pf-stack-tabs .pf-panel-host {
  position: unset;
}
.pf-panel-host-header {
  display: flex;
  align-items: stretch;
  height: 25px;
  background: var(--pf-secondary-color);
}
.pf-panel-host-header button {
  margin-right: 5px;
  border:1px solid rgba(0,0,0,0);
  border-radius: 2px;
  padding:1px;
  display:flex;
  margin-left:-5px;
}
.pf-panel-host-header button:hover {
  border:1px solid var(--pf-dark-border-color);
}
.pf-panel-host-header-item {
  padding: 0px 10px 0px 10px;
  background: var(--pf-secondary-color);
  align-items: center;
  display: flex;
}
.pf-panel-host-header-item.pf-active {
  background: var(--pf-primary-color);
}
.pf-stack-toolbars.pf-vertical .pf-toolbar {
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid var(--pf-dark-border-color);
}
.pf-stack.pf-horizontal .pf-toolbar {
  padding-right: 5px;
  border-right: 1px solid var(--pf-dark-border-color);
}
.pf-toolbar.pf-full-size {
  flex: 1;
}

.pf-toolbar-item {
  display: flex;
  padding: 1px;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.pf-toolbar.pf-horizontal .pf-toolbar-item {
  min-height: var(--pf-toolbar-row-size);
  line-height: var(--pf-toolbar-row-size);
}

.pf-toolbar.pf-vertical .pf-toolbar-item {
  min-width: var(--pf-toolbar-row-size);
}
.pf-toolbar-items {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.pf-horizontal > .pf-drag-handle {
  min-height: var(--pf-toolbar-row-size);
}

.pf-vertical > .pf-drag-handle {
  min-width: var(--pf-toolbar-row-size);
}

.pf-vertical > .pf-drag-handle svg {
  transform: rotate(90deg);
}

.pf-drag-handle,
.pf-item-separator,
.pf-stack-header button {
  color: var(--pf-dark-border-color);
  justify-content: center;
  display: flex;
  align-items: center;
}

.pf-toolbar.pf-horizontal .pf-toolbar-items .pf-item-separator svg {
  margin-left: -5px;
  margin-right: -5px;
}

.pf-item-text {
  margin-left: 5px;
  margin-right: 2px;
}
