.pf-floating-toolbar-window {
  position: absolute;
  z-index: 9999;
}

.pf-floating-toolbar-window .pf-toolbar-stack {
  border: 2px solid var(--pf-dark-border-color);
  border-radius: 5px;
}
.pf-toolbar-stack {
  background: var(--pf-primary-color);
}

.pf-toolbar-stack-header {
  background: var(--pf-secondary-color);
  border: 1px solid var(--pf-dark-border-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pf-toolbar-stack.pf-vertical {
  border-left: 1px solid var(--pf-dark-border-color);
  border-right: 1px solid var(--pf-dark-border-color);
}

.pf-toolbar-stack.pf-horizontal {
  border-top: 1px solid var(--pf-dark-border-color);
  border-bottom: 1px solid var(--pf-dark-border-color);
}

.pf-toolbar-stack.pf-vertical > .pf-toolbar-stack-header {
  margin-top: -1px;
  height: var(--pf-toolbar-stack-header-size);
  flex-direction: row;
}

.pf-toolbar-stack.pf-horizontal > .pf-toolbar-stack-header {
  width: var(--pf-toolbar-stack-header-size);
  flex-direction: column;
  margin-left: -1px;
}

.pf-toolbar-stack-header button {
  background: 0 0;
  border: 1px solid transparent;
  outline: 0;
  color: var(--pf-default-color);
  padding: 0;
  margin: 0;
}

.pf-toolbar-stack-header button:hover {
  background: var(--pf-primary-color);
  border: 1px solid var(--pf-dark-border-color);
}

.pf-toolbar-stack.pf-vertical > .pf-toolbar-stack-header button {
  height: 100%;
  margin-top: -1px;
  margin-bottom: -1px;
}

.pf-toolbar-stack.pf-horizontal > .pf-toolbar-stack-header button {
  width: 100%;
}

.pf-stack-header-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
