.pf-toolbar {
  position: relative;
}

.pf-panel-host {
  min-width: 300px;
  min-height: 300px;
  background: var(--pf-primary-color);
}
.pf-toolbar-stack-toolbars .pf-panel-host {
  position: absolute;
  top: -1px;
  right: 32px;
  border: 1px solid var(--pf-dark-border-color);
  border-radius: 3px;
}
.pf-toolbar-stack-tabs .pf-panel-host {
  position: unset;
}
.pf-toolbar-stack.pf-vertical .pf-toolbar {
  padding-bottom: 5px;
  padding-top: 5px;
  border-bottom: 1px solid var(--pf-dark-border-color);
}
.pf-toolbar-stack.pf-horizontal .pf-toolbar {
  padding-right: 5px;
  border-right: 1px solid var(--pf-dark-border-color);
}
.pf-toolbar.pf-full-size {
  flex: 1;
}

.pf-toolbar-item {
  display: flex;
  padding: 1px;
  justify-content: center;
  align-items: center;
  flex-grow: 0;
  flex-shrink: 0;
}

.pf-toolbar.pf-horizontal .pf-toolbar-item {
  min-height: var(--pf-toolbar-row-size);
  line-height: var(--pf-toolbar-row-size);
}

.pf-toolbar.pf-vertical .pf-toolbar-item {
  min-width: var(--pf-toolbar-row-size);
}
.pf-toolbar-items {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

.pf-horizontal > .pf-drag-handle {
  min-height: var(--pf-toolbar-row-size);
}

.pf-vertical > .pf-drag-handle {
  min-width: var(--pf-toolbar-row-size);
}

.pf-vertical > .pf-drag-handle svg {
  transform: rotate(90deg);
}

.pf-drag-handle,
.pf-item-separator,
.pf-toolbar-stack-header button {
  color: var(--pf-dark-border-color);
  justify-content: center;
  display: flex;
  align-items: center;
}

.pf-toolbar.pf-horizontal .pf-toolbar-items .pf-item-separator svg {
  margin-left: -5px;
  margin-right: -5px;
}

.pf-item-text {
  margin-left: 5px;
  margin-right: 2px;
}
