.pf-window.pf-floating {
  box-shadow:
    rgba(0, 0, 0, 0.07) 0 1px 2px,
    rgba(0, 0, 0, 0.07) 0 2px 4px,
    rgba(0, 0, 0, 0.07) 0 4px 8px,
    rgba(0, 0, 0, 0.07) 0 8px 16px,
    rgba(0, 0, 0, 0.07) 0 16px 32px,
    rgba(0, 0, 0, 0.07) 0 32px 64px;
  position: absolute;

  border: 2px solid var(--pf-dark-border-color);
  border-radius: 5px;
}

.pf-window.pf-floating:not(.pf-minimized) {
  min-width: 300px;
  min-height: 300px;
}
.pf-window.pf-floating.pf-minimized {
  min-width: 0;
  min-height: 0;
  height: 58;
  max-width: 400px;
}

.pf-window.pf-floating .pf-window__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--pf-secondary-color);
  border-bottom: 1px solid var(--pf-dark-border-color);
  padding: 5px;
}

.pf-window__inside.pf-horizontal > pf-window__content,
.pf-window__inside.pf-vertical {
  flex-direction: row;
}

.pf-window__inside.pf-horizontal,
.pf-window__inside.pf-vertical > pf-window__content {
  flex-direction: column;
}

.pf-window__controls {
  display: inline-block;
  padding-left: 5px;
}
.pf-window__controls .pf-icon svg {
  visibility: hidden;
}
.pf-window__controls:hover .pf-icon:not(.pf-icon__disabled) svg {
  visibility: visible;
  color: var(--pf-secondary-color);
}
.pf-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 12px;
  height: 12px;
  margin-right: 8px;
  border-radius: 50%;
}
.pf-icon__disabled {
  pointer-events: none;
}
.pf-window__controls .pf-icon__disabled {
  background: var(--pf-primary-color) !important;
}
.pf-window__controls .pf-icon__close {
  background: var(--pf-os-close);
}
.pf-window__controls .pf-icon__minimize {
  background: var(--pf-os-minimize);
}
.pf-window__controls .pf-icon__maximize {
  background: var(--pf-os-fullscreen);
}
.pf-window__content {
  position: relative;
  display: flex;
  flex: 1;
  overflow: hidden;
  min-height: 100px;
  min-width: 100px;
}

.pf-window__inside {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  max-width: 100%;
}
