.grid {
  height: 100%;
  overflow: visible;
  position: absolute;
  width: 100%;
}

.gridLine1 {
  stroke: #222222;
  opacity: 0.6;
}

.gridLine10 {
  stroke: #444444;
  opacity: 0.8;
}

.crosshairsLine {
  stroke: #666666;
}
